
body{
  background-color: #121217;
  ;
}

@media(max-width: 800px){
  .direita{
    display: none;
    max-width: 800px
  }

  .iconis2{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .cards{
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .formulario{
    flex-direction: column;
    align-items: center;
  }
}

.tela1{

  display: flex;
  background-color: #121217;
  height: 100vh;

}

.esquerda{
  background-color: #121217;
  width: 100%;
}


.iconi{
  margin: 20px;
}


.texto1{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  margin-top: 200px;
  color: white;
}

.texto2{
  background-color:#121217;
  display: flex;
  margin: 0 auto;
  text-align: center;
  max-width: 80%;
  margin-top: 100px;
  font-size: 20px;
  color: white;
  
}

.direita{
  /* background-image: url("iconis/sombra.png"); */
  /* background-repeat: no-repeat ; */
  /* display: flex; */
  margin-top: 140px;
  align-items: center;
  width: 100%;
  
}

.sombra{
  width: 400px;
}


.circulo{
  display: flex;
  margin: 0 auto;
  align-items: center;
  background-color:#9871F5;
  width: 500px;
  height: 500px;
  border-radius: 50%;
 
}

.circulo img{
  margin: 0 auto;
}

.faixa{
  background-color: #14141B;
  height: 80px;
  margin-bottom: 20px;
}

.titulos2{
  margin: 0 auto;
  text-align: center;
  max-width: 80%;
  color: white;
  font-size: 26px;
}

.iconis2{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  color: white;
  
}

.iconis2 hr{
  background-color: aqua;
}

.iconi-c{
  margin-top: 80px;
}

.tela3{
  background-color: #14141B;;
  height: auto;
}

.tela3 h1{
  display: flex;
  padding-top: 140px;
  justify-content: space-around;
  color: white;
}

.cards{
  display: flex;
  justify-content: space-around;
  padding-top: 150px;
  padding-bottom: 100px;
  
}

.card1{
  background-color:#04D361;
  max-width: 93%;
}

.card2{
  background-color: #9871F5;
  max-width: 93%
}

.card3{
  background-color: #6842C2;
  max-width: 93%
  ;
}

.tela4{
  background-color: #6842C2;
  ;
}

.formulario{

  display: flex;
  justify-content: space-around;
    
}