
body{
  background-color: #121217;
  border-top: #6842C2 20px;
  ;
}

@media(max-width: 800px){
  .direita{
    display: none;
    max-width: 800px
  }

  .iconi{
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  
  .iconis2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
  }

  .iconi-c{
   
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

  }

  .cards{
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .formulario{
    flex-direction: column;
    align-items: center;
  }
}

.faixa1{
  background-color: #9871F5;
  height: 15px;
}

.tela1{

  display: flex;
  background-color: #121217;
  height: 100vh;

}

.esquerda{
  background-color: #121217;
  width: 100%;
}


.iconi{
  margin: 50px;
  width: 150px;
}


.texto1{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  margin-top: 120px;
  color: white;
}

.texto2{
  background-color:#121217;
  display: flex;
  margin: 0 auto;
  text-align: center;
  max-width: 80%;
  margin-top: 0px;
  font-size: 20px;
  color: white;
  
}

.direita{
  /* background-image: url("iconis/sombra.png"); */
  /* background-repeat: no-repeat ; */
  /* display: flex; */
  margin-top: 140px;
  align-items: center;
  width: 100%;
  
}



.circulo{
  display: flex;
  margin: 0 auto;
  align-items: center;
  background-color:#9871F5;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border-color: white;
  padding-bottom: 50px;
 
}

.circulo img{
  margin: 0 auto;
}

.faixa{
  background-color: rgba(12, 12, 17, 0.849);
  height: 80px;
  margin-bottom: 20px;
}

.tela2{
  margin-top: 50px;
}

.linha{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 250px;
  height: 5px;
  background-color: #9871F5 ;
}

.titulos2{
  margin: 0 auto;
  text-align: center;
  max-width: 80%;
  color: white;
  font-size: 26px;
}

.iconis2{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  color: white;
  
}

.iconis2 hr{
  background-color: aqua;
}

.iconi-c{
  margin-top: 80px;
}

.tela3{
  margin-top: 50px;
  background-color: #14141B;;
  height: auto;
}

.tela3 h1{
  display: flex;
  padding-top: 60px;
  justify-content: space-around;
  color: white;
  font-size: 70px;
}

.cards{
  display: flex;
  justify-content: space-around;
  padding-top: 120px;
  padding-bottom: 100px;
  
}

.card1{
  background-color:#04D361;
  max-width: 93%;
}

.card2{
  background-color: #9871F5;
  max-width: 93%
}

.card3{
  background-color: #6842C2;
  max-width: 93%
  ;
}

.tela4{
  background-color: #6842C2;
  ;
}

.tela4 .titulos2{
  padding-top: 90px;
}

.formulario{

  
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding-top: 70px;
  padding-bottom: 60px;
    
}
